{% extends 'base.html' %}

{% block content %}
<h1>About Page</h1>

<h2>What is this project about?</h2>
<p>
Machine learning in computer science has been a very exciting and prosperous field to work in however if you are a beginner, it’s hard to find a digestible learning source unless you are content with watching a 4 hour course on YouTube or an expert who will have you “master” the topic in 10 weeks.
This site features the basics you need to know for starting out including a working model, quizzes for recalling information, documentation to review and more!
A project made by students, for the students.</p>

<h2>How long should I spend on this?</h2>
<p>A few hours in total is what we would recommend. Remember that learning is best done over time so that the knowledge is kept better. Attempt the quiz a few times and reread the documentation after you feel comfortable with what you have learnt to finalise your understanding.</p>

<h2>I can’t Sign in…Help!</h2>
<p>Sign in issues are, 90% of the time, caused by basic errors such as forgetting a password or a letter from a username. Please be sure that the details you have used to register are the ones you are using now.
Two thirds of people use the same password across different platforms – are you sure that your password is not simply your regular with additional characters?</p>

<h2>The content is too easy here!</h2>
<p>That’s fantastic! Whether you have already progressed through the site or are dropping by to see what it is about, this reaction is a good sign that you are well on your way to mastery with continued dedication of course.
Our quiz only takes only 10 minutes to complete if you’re experienced with the topic and so
What is the best order to go through the site?</p>
We would recommend going through the working model first to see how it works, knowing what it does. Play around with different values and see what happens, do you notice anything different? If so, why do you think? Then head over to the quiz or documentation section next to build your knowledge on what the mathematics and code behind the project plus to cover the concepts covered with the model

<h2>I don’t understand a topic</h2>
<p>That’s ok! Everyone finds things confusing at the start. We would recommend going to the particular part of the model you do not understand and slowly work through the code and documentation. Was there a sentence or concept that you missed? Or was there something that you misunderstood? There’s no shame in fixing your mistakes!</p>

<h2>Can I trust this site?</h2>
<p>Of course! We will never look at your data and use it without your permission. This site is built with the Django framework and with its built in security, you don’t have to lose sleep over us keeping your data.</p>

<h2>Does my course teach this?</h2>
<p>If your course is an introduction to Machine Learning, they will most likely cover all the topics here as understanding them is the foundation to learning harder topics. We cannot guarantee that your course will lead you in the same direction when it comes to learning harder topics however we would recommend for you to personally draw the comparisons between your course and the work covered here so that you understand what your strengths and weaknesses are.</p>

<h2>Can I still use other sources of learning?</h2>
<p>That’s perfectly fine! Not everyone can conform to one source of learning on the internet and it is ok to use another source for clarifying/understanding/learning about a topic. Our advice would be to try and use this website in conjunction with whatever other source you are using to be absolutely sure you are not missing any details.</p>

{% endblock %}
