<div background-color="lightblue" class="sideNav">
  <div class="sideTitle"><h2>Learning Environment</h2></div>
<div class="container">
  <div class="object1"><a href="http://127.0.0.1:8000/learnLR/">Linear Regression</a></div>
  <div class="object2"><a href="http://127.0.0.1:8000/learnLRadv/">Linear Regression Adv</a></div>
  <div class="object3"><a href="http://127.0.0.1:8000/learnLRquiz/">Linear Regression Quiz</a></div>
  <div class="object4"><a href="http://127.0.0.1:8000/learnPR/">Polynomial Regression</a></div>
  <div class="object5"><a href="http://127.0.0.1:8000/learnPRadv">Polynomial Regression Adv</a></div>
  <div class="object6"><a href="http://127.0.0.1:8000/PRQuiz/">Polynomial Regression Quiz</a></div>
  <div class="object7"><a href="http://127.0.0.1:8000/learnLogR/">Logistic Regression</a></div>
  <div class="object8"><a href="http://127.0.0.1:8000/learnLogRadv/">Logistic Regression Adv</a></div>
</div>
</div>
