.homepage >h1 {
      text-align: center;
    margin: 10px;
      padding 5px;
      background-color: lightblue;
    }
    .learn{
      margin: 0;
      padding: 5px;
      background-color: lightblue;
}
.learn >h6 {
  margin: 10px;
  padding: 5px;
  border: 10px;
  text-align: center;

}



/*Commenting out old link
.linearLink{
  color: lightblue;
  font-family: "arial";
  font-weight: 80;
  font-size: 25px;
  text-align:  center;
  border-radius: 10px;
  padding: 10px 80px;
  float: none;
  justify-content: center;
  background-color: lightblue;
  border: solid 1px blue;
}
end of old link*/

/* Found this button online and looked pretty cool*/
.linearLink {
  width: 500px;
  height: 50px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 40px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.linearLink:link { text-decoration: none; }

.linearLink:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.linearLink:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

.right {
  text-align: right;

}
.left{
  text-align: right;
}
img1 {
  float: left;
}
img2 {
  float: right;

}
*, *:before: *after {
  box-sizing: inherit;
}
body {
  margin-top 300px;
  text align: center;
}
/*.polynomialButton{
  color: lightblue;
  font-family: "arial";
  font-weight: 100;
  font-size: 40px;
  text-align:  center;
  border: solid 5px mediumpurple;
  border-radius: 500px;
  padding: 10px 80px;
  transition duration: 200ms;
  top: 40%;
  left:36%;
  background-color: mediumpurple;
}

.polynomialButton:hover {
  background-color: lightblue;
  color: mediumpurple;
} */

.wrapper{
  text-align: center;
}

.footer{
  text-align: center;
  padding: 3px;
  background-color: mediumpurple;
  color: black;
}

.buttonStuff{
  justify: center;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: #56E3D4;
  border: none;
  color: black;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonStuff span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonStuff span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonStuff:hover span {
  padding-right: 25px;
}

.buttonStuff:hover span:after {
  opacity: 1;
  right: 0;
}
